<div class="grid">
    <div class="col-12 lg:col-8 xl:col-8">
        <div class="card mb-0">
            <div class="mb-2 flex justify-content-between">
                <button pButton pRipple type="button" label="Lancer la formation" class="mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Arrêter la formation" class="p-button-danger mr-2 mb-2"></button>
                <button pButton pRipple type="button" label="Redémarrer la formation" class="p-button-warning mr-2 mb-2"></button>
            </div>
            <div class="mb-2">
                <h5>Taux de réussite : {{succesLevel}}%</h5>
                <p-slider [(ngModel)]="succesLevel" ></p-slider>
            </div>
            <div>
                <h5>Taux d'erreur : {{errorLevel}}%</h5>
                <p-slider [(ngModel)]="errorLevel" ></p-slider>
            </div>
        </div>
    </div>

</div>
