<div class="grid">
    <div class="col-12 lg:col-8 xl:col-8">
        <div class="card mb-0">
            <div class="mb-4 flex justify-content-between">
                <button pButton pRipple type="button" id="launchButton" [attr.disabled]="isFormationLaunched ? 'disabled' : null" label="Lancer la formation" class="mr-2 mb-2" (click)="buttonClicked('start')"></button>
                <button pButton pRipple type="button" id="stopButton" [attr.disabled]="!isFormationLaunched ? 'disabled' : null" label="Arrêter la formation" class="p-button-danger mr-2 mb-2" (click)="buttonClicked('stop')"></button>
                <button pButton pRipple type="button" id="restartButton" [attr.disabled]="!isFormationLaunched ? 'disabled' : null" label="Redémarrer la formation" class="p-button-warning mr-2 mb-2" (click)="buttonClicked('restart')"></button>
            </div>
            <div class="mb-4">
                <p-dropdown [options]="casques" [(ngModel)]="selectedCasque1" placeholder="Sélectionnez un casque" optionLabel=""
    [showClear]="true"></p-dropdown>
            </div>
            <div class="mb-4">
                <p-selectButton [options]="learninglevel" [(ngModel)]="selectedLevel" optionLabel="label" optionValue="value" (onChange)="changeValuesBasedOnTheSelectedLevel(selectedLevel)"></p-selectButton>
            </div>
            <div class="mb-4">
                <h5>Taux de réussite : {{successLevel}}%</h5>
                <p-slider [(ngModel)]="successLevel" (onChange)="changeToPersonnalizedMode()"></p-slider>
            </div>
            <div class="mb-4">
                <h5>Taux d'erreur : {{errorLevel}}%</h5>
                <p-slider [(ngModel)]="errorLevel" (onChange)="changeToPersonnalizedMode()"></p-slider>
            </div>

            <div>
                <div class="grid">
                    <h5 class="col" style="margin-top: auto;">Types de fruit</h5>
                    <h5 class="col hidden lg:block">Commande</h5>
                </div>




                <div *ngFor="let category of fruitType; let index = index">
                    <div class="grid mb-3">
                        <div class="field-checkbox col mb-0">
                            <p-checkbox name="group2" value="category" [value]="category"  [(ngModel)]="selectedFruitType" [inputId]="category" (onChange)="changeToPersonnalizedMode()"></p-checkbox>
                            <label [for]="category">{{category}}</label>
                        </div>
                        <div class="col">
                            <p-inputNumber *ngIf="selectedFruitType.includes(category)" [(ngModel)]="command[index]" [showButtons]="true" [min]="0" suffix=" caisses" (onInput)="manageCommand(category)"></p-inputNumber>
                        </div>
                    </div>
                </div>
                   
<!-- 
                    <div class="grid mb-3">
                        <div class="field-checkbox col mb-0">
                            <p-checkbox name="group1" value="watermelon" [(ngModel)]="selectedFruitType" inputId="watermelon" (onChange)="changeToPersonnalizedMode()"></p-checkbox>
                            <label for="watermelon">Pastèque (grande caisse)</label>
                        </div>
                        <div class="col">
                            <p-inputNumber [(ngModel)]="command[0]" [showButtons]="true" [min]="0" suffix=" caisses" (onInput)="addWatermelon()"></p-inputNumber>
                        </div>
                    </div>
                    <div class="grid mb-3">
                        <div class="field-checkbox col mb-0">
                            <p-checkbox name="group1" value="lemon" [(ngModel)]="selectedFruitType" inputId="lemon" (onChange)="changeToPersonnalizedMode()"></p-checkbox>
                            <label for="lemon">Citron (moyenne caisse)</label>
                        </div>
                        <div class="col">
                            <p-inputNumber [(ngModel)]="command[1]" [showButtons]="true" [min]="0" suffix=" caisses" (onInput)="addLemon()"></p-inputNumber>
                        </div>
                    </div>
                    <div class="grid mb-3">
                        <div class="field-checkbox col mb-0">
                            <p-checkbox name="group1" value="peach" [(ngModel)]="selectedFruitType" inputId="peach" (onChange)="changeToPersonnalizedMode()"></p-checkbox>
                            <label for="peach">Pêche (petite caisse)</label>
                        </div>
                        <div class="col">
                            <p-inputNumber  [(ngModel)]="command[2]" [showButtons]="true" [min]="0" suffix=" caisses" (onInput)="addPeach()"></p-inputNumber>
                        </div>
                    </div>
                </div> -->
               
                <p style="color: red; font-weight: bold;" >{{errorSelectedFruit}}</p>
            </div>
            <div class="mb-4">
                <h5>Temps de formation</h5>
                <div class="grid">
                    <p-inputNumber class="mr-4 col" [(ngModel)]="minutes" [showButtons]="true" [min]="1" [max]="59" suffix=" minutes" (onInput)="changeToPersonnalizedMode()"></p-inputNumber>
                    <p-inputNumber class="col" [(ngModel)]="secondes" [showButtons]="true" [min]="0" [max]="59" suffix=" secondes" (onInput)="changeToPersonnalizedMode()"></p-inputNumber>
                </div>
            </div>
        </div>
    </div>

</div>
